/* Style for the canvas container */
.canvas-container {
  image-rendering: crisp-edges;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Remove any transform or filter if present */
  transform: none;
  filter: none;
  height: 90vh;
  width: 100vw;
  background-color: #f9f9f9;
}

.react-flow__handle {
  width: 8px;
  height: 8px;
  background-color: #555;
  border: 1px solid #fff;
  border-radius: 50%;
}

.edge-menu-item {
  display: flex;
  padding: 6px 10px;
  cursor: pointer;
  align-self: center;
  justify-content: center;
}

.edge-menu-item:hover {
  background: #f0f0f0;
}

.edge-menu-bin {
  height: 1.2rem;
  color: red;
}