/* Style for the canvas container */
.canvas-container {
  height: 100vh;
  width: 100%;
  background-color: #f9f9f9;
}

/* Style for the table node */
.table-node {
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  width: 200px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative; /* Ensure Handles are positioned relative to this container */
}

.react-flow__handle {
  width: 8px;
  height: 8px;
  background-color: #555;
  border: 1px solid #fff;
  border-radius: 50%;
}

.table-title {
  background-color: #fff;
  padding: 0px;
  font-weight: bold;
}

.table-content {
  width: 100%;
  border-collapse: collapse;
}

.table-content td {
  border: 1px solid #ddd;
  padding: 4px;
  position: relative;
}