.navbar {
    display: flex;
    background-color: #19647E;
    height: 8vh;
    justify-content: space-between;
    align-items: center;

    .logo {
        height: 3rem;
        margin-left: 2rem;
        cursor: pointer;
    }
}

.register {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55vw;
    height: 92vh;

    .heading {
        margin-bottom: 3rem;
    }

    .input {
        width: 100%;
        margin-bottom: 1rem;

        .label {
            margin-left: 5px;
            margin-bottom: 3px;
        }

        .input-box {
            border: 5px solid #19647E;
            padding: 0.7rem;
            border-radius: 1rem;
        }

        .input-box.invalid {
            box-shadow: 0 0 5px 2px red;
        }
    }

    .validations {
        margin-top: 2rem;
        align-self: start;

        .item {
            margin-bottom: 0.5rem;

            .message {
                margin-left: 0.5rem;
            }
        }

        .check {
            color: green;
        }

        .cross {
            color: red;
        }
    }
}

.login {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55vw;
    height: 92vh;

    .heading {
        margin-bottom: 3rem;
    }

    .input {
        width: 100%;
        margin-bottom: 1rem;

        .label {
            margin-left: 5px;
            margin-bottom: 3px;
        }

        .input-box {
            border: 5px solid #19647E;
            padding: 0.7rem;
            border-radius: 1rem;
        }

        .input-box.invalid {
            box-shadow: 0 0 5px 2px red;
        }
    }

    .forgot {
        color: #1890ff;
        text-decoration: underline;
        cursor: pointer;
    }
}

.create {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    .comment {
        margin-top: 1rem;
    }

    .link {
        color: #1890ff;
        text-decoration: underline;
        cursor: pointer;
    }

    .link:hover {
        color: #40a9ff;
        text-decoration: underline;
    }

    .error {
        background-color: red;
    }

    .error:hover {
        background-color: red;
    }
}

.settings {
    justify-content: center;

    .content {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 2rem;

        .name-change {
            display: flex;
            column-gap: 2rem;
            flex-direction: column;
            gap: 1rem;

            .field {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                .label {
                    min-width: 5rem;
                    margin: 0;
                }

                .input {
                    min-width: 10rem;
                    max-width: 20rem;
                }
            }
        }
    }

    .reset {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        .label {
            margin: 0;
        }
    }
}

.request_reset {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 3rem;
    height: 92vh;

    .heading {
        width: fit-content;
        justify-content: center;
    }

    .input {
        display: flex;
        justify-content: start;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin-top: 3rem;

        .label {
            margin: 0;
        }
    }

    .send {
        margin-top: 0.5rem;
        .link {
            color: #1890ff;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}