workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: always
    
    - when: always

stages:
  - trigger
  - deploy
  
trigger_schemalab-ui:
  stage: trigger
  rules:
    - changes:
      - schemalab-ui/**
  trigger:
    include: schemalab-ui/.gitlab-ci.yml
    strategy: depend

trigger_schema:
  stage: trigger
  rules:
    - changes:
      - schema/**
  trigger:
    include: schema/.gitlab-ci.yml
    strategy: depend

trigger_auth:
  stage: trigger
  rules:
    - changes:
      - auth/**
  trigger:
    include: auth/.gitlab-ci.yml
    strategy: depend

trigger_management:
  stage: trigger
  rules:
    - changes:
      - management/**
  trigger:
    include: management/.gitlab-ci.yml
    strategy: depend

deploy_full_app:
  stage: deploy
  script:
    - echo "Deploying schemalab..."
    - docker compose up --build