stages:
  - build
  - test
  - deploy

build_image:
  stage: build
  tags:
    - docker
  
  script:
    - docker info 
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
    - cd auth/
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA

  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        - auth/**/* 

run_tests:
  stage: test
  needs: [build_image]
  tags:
    - shell
  
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
    - docker pull $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
    - docker run $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA python manage.py test
    
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        - auth/**/*

deploy_to_server:
  stage: deploy
  tags:
    - shell
  
  script:
    - echo "Deployment confirmed. Image $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA is ready."
    
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        - auth/**/*
      when: manual