image: python:3.10-slim

stages:
  - test
  # - deploy
  - push

run_tests:
  stage: test
  
  script:
    - cd auth/
    - python3 --version
    - pip install -r requirements.txt 
    - DB_NAME=test_auth_db DB_HOST=test_host DB_USER=test_user DB_PASSWORD=test_pass python manage.py test --settings=auth_project.settings --keepdb
    
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        - auth/**/*

# deploy_to_server:
#   stage: deploy
#   script:
#     - echo "Deployment confirmed. The code passed Python tests."
#     - echo "The final image build for deployment must be done by a dedicated runner."
#   rules:
#     - if: $CI_COMMIT_BRANCH
#       changes:
#         - auth/**/*

push_auth:
  stage: push
  image: docker:24
  services:
    - docker:24-dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build -t $CI_REGISTRY_IMAGE/auth:latest . 
    - docker push $CI_REGISTRY_IMAGE/auth:latest
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'