image: python:3.10-slim

stages:
  - test
  - deploy 

run_tests:
  stage: test
  
  script:
    - cd auth/
    - python3 --version
    - pip install -r requirements.txt 
    - DB_NAME=test_auth_db DB_HOST=test_host DB_USER=test_user DB_PASSWORD=test_pass python manage.py test --settings=auth_project.settings --keepdb
    
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        - auth/**/*

deploy_to_server:
  stage: deploy
  script:
    - echo "Deployment confirmed. The code passed Python tests."
    - echo "The final image build for deployment must be done by a dedicated runner."
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        - auth/**/*