.db-designer {
  display: flex;
  // grid-template-rows: 10vh 1fr;
  // grid-template-columns: 250px 1fr;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.canvas {
  flex: 1; /* Takes up the remaining space not used by toolbox. */
  height: 100%;
  width: 100%;
  background-color: #eaeaea;
  position: relative;
  overflow: hidden;
}

.topbar {
  height: 10vh;
}