.nav {
    height: 7vh;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: #fff;
    box-shadow: 0 8px 24px -2px rgba(0, 0, 0, .05);
    z-index: 10;

    .left {
        .logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 58px;

            .logo-img {
                height: 3rem;
                margin-right: 20px;
            }

            .logo-text {
                padding: 0;
                margin: 0;
                color: black;
                font-size: 24px;
            }
        }

    }

    .right {
        margin-right: 58px;
    }
}

.hero {
    position: relative;
    width: 100%;
    height: 675px;
    align-items: center;

    display: flex;
    align-items: center;

    background-image: url("../../assets/landing-page-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -60px;

    box-shadow: 0 -5px 24px -2px rgba(0, 0, 0, .05);

    // .background {
    //     position: absolute;
    //     inset: 0;
    //     z-index: 1;

    //     .background-img {
    //         display: block;
    //         margin: 0 auto;
    //         width: 100%;
    //         object-fit: cover;
    //         box-shadow: 0 -8px 24px -2px rgba(0, 0, 0, .05);
    //         max-height: 650px;
    //         max-width: 1340px;
    //         min-width: 1250px;
    //     }
    // }

    .content {
        position: relative;
        z-index: 2;
        width: 100%;
        margin-left: 10vw;
        font-family: sans-serif !important;
        font-weight: bold;

        .title {
            font-size: 4rem;
            margin: 0;
        }

        .description {
            font-size: 1.5rem;
        }
    }
}

.cards {
    display: flex;
    width: 100%;
    height: 75vh;
    padding: 3rem;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;

    .card {
        width: 25vw;
        height: fit-content;
        text-align: center;

        .img-section {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .img {
                width: 4rem;
                margin: 0 1rem 0 1rem;
            }

            .plus {
                margin: 0;
                font-size: 3rem;
                align-self: center;
            }
        }
    }
}