stages:
  - build
  - test
  - push
  
build_schemalab-ui:
  stage: build
  image: node:20
  script:
    - echo "Building schemalab-ui..."
    - cd schemalab-ui
    - npm install
    - CI=false npm run build
  artifacts:
    paths:
      - schemalab-ui/node_modules/
      - schemalab-ui/build/
    expire_in: 1h
  rules:
    - when: on_success

test_schemalab-ui:
  stage: test
  image: mcr.microsoft.com/playwright:v1.57.0-jammy
  dependencies:
    - build_schemalab-ui
  script:
    - echo "Testing schemalab-ui..."
    - echo "Building auth for tests."
    - cd auth
    - docker compose up -d
    - cd ..
    - cd schemalab-ui
    - npm install
    - npx playwright install --with-deps
    - npm run test:e2e
  rules:
  - when: on_success

push_schemalab-ui:
  stage: push
  image: docker:24
  services:
    - docker:24-dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build -t $CI_REGISTRY_IMAGE/schemalab-ui:latest .
    - docker push $CI_REGISTRY_IMAGE/schemalab-ui:latest
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"' 