stages:
  - build
  - test
  # - deploy
  
build_schemalab-ui:
  stage: build
  image: node:20
  script:
    - echo "Building schemalab-ui..."
    - cd schemalab-ui
    - npm install
    - CI=false npm run build
  artifacts:
    paths:
      - dist/
  rules:
    - when: on_success

test_schemalab-ui:
  stage: test
  image: node:20
  script:
    - echo "Testing schemalab-ui..."
    - cd schemalab-ui
    - npm install
    - npm test -- --passWithNoTests
  rules:
  - when: on_success

# deploy_schemalab-ui:
#   stage: deploy
#   script:
#     - echo "Deploying schemalab-ui..."
#     - docker compose build
#     - docker compose up -d
#   only:
#     - main