stages:
  - build
  - test
  - push
  
build_schemalab-ui:
  stage: build
  image: node:20
  script:
    - echo "Building schemalab-ui..."
    - cd schemalab-ui
    - npm install
    - CI=false npm run build
  artifacts:
    paths:
      - schemalab-ui/node_modules/
      - schemalab-ui/build/
    expire_in: 1h
  rules:
    - when: on_success

# test_schemalab-ui:
#   stage: test
#   image: mcr.microsoft.com/playwright:v1.57.0-jammy
#   services:
#     - docker:24-dind
#   variables:
#     DOCKER_HOST: tcp://docker:2375
#     DOCKER_TLS_CERTDIR: ""
#   dependencies:
#     - build_schemalab-ui
#   before_script:
#     - apt-get update
#     - apt-get install -y docker-compose-plugin
#   script:
#     - echo "Testing schemalab-ui..."
#     - echo "Building auth for tests."
#     - cd auth
#     - docker compose up -d
#     - cd ..
#     - cd schemalab-ui
#     - npm install
#     - npx playwright install --with-deps
#     - npm run test:e2e
#   rules:
#   - when: on_success

push_schemalab-ui:
  stage: push
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  variables:
    DOCKER_CONFIG: /kaniko/.docker
  before_script:
    - |
      echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$gitlab-ci-token\",\"password\":\"$CI_JOB_TOKEN\"}}}" > /kaniko/.docker/config.json
  script:
    - |
      /kaniko/executor \
        --context "${CI_PROJECT_DIR}/schemalab-ui" \
        --dockerfile "${CI_PROJECT_DIR}/schemalab-ui/Dockerfile" \
        --destination "${CI_REGISTRY_IMAGE}/schemalab-ui:latest"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"' 